@charset "UTF-8";

body{
	font-size: 9pt;
	text-align: justify;
}

h1, h2{
	color: #399195;
}

#garden01{
	float: left;
	width: 1100px;
}


#garden{
	background-image: url("../../images/background.gif");
	background-repeat: no-repeat;
	background-color: #a6cdcd;
	border: solid white 1px;
	padding: 20px;
	margin: 20px;
	font-style: italic;
	height: 70px;
	width: 900px;
	padding-left: 70px;
	overflow: auto;
}

#garden02{

	border: solid #c5e1e1 1px;
	width: 200px;
	padding: 0px 20px 20px 20px;
	margin-left: 20px;
	text-align: center;
	float: right;
	line-height: 1;
}

#garden02 h2{
	color: black;

}

#garden02 h3{
	color: #fe5353;
}

#footer{
	clear: both;
	text-align: center;
}